<footer class="footer">
    <div class="footer-inner">
        <div class="footer-row">
            <h3>header</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum nunc non felis porta, eu fermentum mauris consequat. Nulla id ante diam. Sed varius dui ut quam elementum dignissim. Ut feugiat tincidunt lacus quis convallis. Curabitur nunc lectus, feugiat sed aliquam tempor, facilisis ut urna.</p>
        </div>
        <div class="footer-row">
            <h3>header</h3>
            <p>Donec sed porta mauris. Cras eget ex nec risus rhoncus sagittis nec sed mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam interdum odio magna, aliquam commodo enim efficitur non. Aenean sed tellus purus. Nunc pellentesque metus ac finibus elementum.</p>
        </div>
        <div class="footer-row">
            <h3>header</h3>
            <p>Sed ornare ante vitae urna viverra lacinia. Maecenas ut tortor vel tellus gravida aliquam. Pellentesque et neque vel neque egestas rhoncus. Duis eget pretium urna. Curabitur gravida nulla et accumsan accumsan. Nulla porta sodales pretium. Nulla facilisi. Aliquam sagittis sapien at auctor pulvinar.</p>
        </div>
    </div>
</footer>