<meta charset="UTF-8">
<title>Forum</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/styles/font_import.css">
<link rel="stylesheet" href="/styles/css/node.css">
<link rel="stylesheet" href="/styles/css/box-block.css">
<link rel="stylesheet" href="/styles/css/block.css">
<link rel="stylesheet" href="/styles/css/button.css">
<link rel="stylesheet" href="/styles/css/login-block.css">
<link rel="stylesheet" href="/styles/css/thread-block.css">
<link rel="stylesheet" href="/styles/css/forum-block.css">
<link rel="stylesheet" href="/styles/css/main.css">
<link rel="stylesheet" href="/styles/css/page_nav.css">
<link rel="stylesheet" href="/styles/css/breadcrumbs.css">
<link rel="stylesheet" href="/styles/css/header.css">
<link rel="stylesheet" href="/styles/css/content.css">
<link rel="stylesheet" href="/styles/css/item.css">
<link rel="stylesheet" href="/styles/css/footer.css">
<link rel="stylesheet" href="/styles/css/avatar.css">
<link rel="stylesheet" href="/styles/css/user.css">
<link rel="stylesheet" href="/styles/css/blockquote.css">

<!-------------->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src='/js/socket.js'></script>

