<meta charset="UTF-8">
<title>Forum</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<link rel="stylesheet" href="/styles/font_import.css">
<link rel="stylesheet" href="/styles/css/node.css">
<link rel="stylesheet" href="/styles/css/box-block.css">
<link rel="stylesheet" href="/styles/css/block.css">
<link rel="stylesheet" href="/styles/css/button.css">
<link rel="stylesheet" href="/styles/css/login-block.css">
<link rel="stylesheet" href="/styles/css/thread-block.css">
<link rel="stylesheet" href="/styles/css/forum-block.css">
<link rel="stylesheet" href="/styles/css/main.css">
<link rel="stylesheet" href="/styles/css/page_nav.css">
<link rel="stylesheet" href="/styles/css/breadcrumbs.css">
<link rel="stylesheet" href="/styles/css/header.css">
<link rel="stylesheet" href="/styles/css/content.css">
<link rel="stylesheet" href="/styles/css/item.css">
<link rel="stylesheet" href="/styles/css/footer.css">
<link rel="stylesheet" href="/styles/css/avatar.css">
<link rel="stylesheet" href="/styles/css/user.css">
<link rel="stylesheet" href="/styles/css/post-thread-button.css">
<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- richtext -->
<link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
<!-------------->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src='/js/socket.js'></script>
