<header class="header" id="header">
  <nav>
    <div class="logo">
      <a href="/">Forum</a>
    </div>
    <div>
      <ul class="nav__links">
      <% if (!user){ %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <% }else { %>
        <li class="nav-item">
          <a class="nav-link" href=<%="/u/"+user.slug%>><%=user.username%></a>
        </li>
        <li class="nav-item">
          <form action="/" method="post">
            <input class="logout_button" type="submit" value="Logout">
        </form>
        </li>
      <% } %> 
      </ul>
    </div>
  </nav>
</header>