<meta charset="UTF-8">
<title>Forum</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<link rel="stylesheet" href="/styles/font_import.css">
<link rel="stylesheet" href="/styles/node.css">
<link rel="stylesheet" href="/styles/box-block.css">
<link rel="stylesheet" href="/styles/block.css">
<link rel="stylesheet" href="/styles/button.css">
<link rel="stylesheet" href="/styles/login-block.css">
<link rel="stylesheet" href="/styles/thread-block.css">
<link rel="stylesheet" href="/styles/forum-block.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/page_nav.css">
<link rel="stylesheet" href="/styles/breadcrumbs.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/content.css">
<link rel="stylesheet" href="/styles/item.css">
<link rel="stylesheet" href="/styles/footer.css">
<link rel="stylesheet" href="/styles/avatar.css">
<link rel="stylesheet" href="/styles/user.css">
<link rel="stylesheet" href="/styles/post-thread-button.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- richtext -->
<link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
<script type="text/javascript" src='/js/reply.js'></script>
