<header class="header" id="header">
  <nav>
    <div class="logo">
      <a href="/">Forum</a>
    </div>
    <div class="header-container">
      <ul class="nav__links">
      <% if (!user){ %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <% }else { %>
        <li class="nav-item">
          <a class="nav-link" href=<%="/u/"+user.slug%>><%=user.username%></a>
        </li>
        <li class="nav-item alert">
          <a class="nav-link icon icon--alert"></a>
        </li>
        <li class="nav-item">
          <form action="/" method="post">
            <input class="logout_button" type="submit" value="Logout">
        </form>
        </li>
      <% } %> 
      </ul>
    </div>
  </nav>
</header>
<% if(user){ %>
<div class="alerts-panel">
  <h2>Notification</h2>
  <div class="noti-list"></div>
</div>
<style>
  .notification-element{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 4px 0px;
  }
  .noti-list{
    margin-top: 12px;
    min-height: 150px;
  }
  .notification-element:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
  }
  .noti-content{
    min-height: 40px;
    max-height: 50px;
    text-overflow: ellipsis;
  }
  .noti-img{
    padding: 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .noti-body{
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }
  .alerts-panel{
    overflow-y: scroll;
    width: 300px;
    padding: 8px;
    min-height: 500px;
    max-height: 500px;
    position: fixed;
    background-color: #ebeced;
    color: #23497c;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: none;
  }
  .li--active{
    background-color: #23497c !important;
  }
  .show{
    display: block;
  }
</style>
<% } %>