<div class="block">
    <div class="block-container">
        <div class="block-body">
            <div class="memberHeader">
                <div class="memberHeader-main">
                    <div class="memberHeader-mainContent">
                        <span class="memberHeader-avatar">
                            <span class="avatarWrapper">
                                <a class="avatar avatar--l" href="">
                                    <img src=<%= user.avatarUrl %> alt=<%= user.username %> loading="lazy" itemprop="image">
                                </a>
                                <a class="avatarWrapper-update" href="/account/avatar" data-xf-click="overlay"><span>Edit</span></a>
                            </span>
                        </span>
                        <div class="memberHeader-content">
                            <h1 class="memberHeader-name">
                                <span class="username">
                                    sdkskdd
                                </span>
                            </h1>
                            <div class="memberHeader-blurbContainer">
                                <div class="memberHeader-blurb"></div>
                                <div class="memberHeader-blurb">
                                    <dl class="pairs pairs--inline">
                                        <dt>Joined: </dt>
                                        <dd>sdksdk</dd>
                                    </dl>
                                </div>
                                <div class="memberHeader-blurb">
                                    <dl class="pairs pairs--inline">
                                        <dt>Last seen: </dt>
                                        <dd>skdskdskds</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="memberHeader-content">
                    dokfdjcdcdckdj
                </div>
            </div>
        </div>
    </div>
</div>