<textarea id="div_editor1" name="body">
</textarea>
<script>
	var editor1 = new RichTextEditor("#div_editor1");
</script>
<div class="formButton">
  <button type="submit" class="button--primary button button--icon button--icon--reply">
    <span class="button-text icon icon--reply">
        Post reply
    </span>
  </button>
</div>
<style>
  #div_editor{
    word-break: break-all;
  }
</style>