$text-color: #ebeced;
$bg-color: #343a40;
$a-hover-color: #f60;
$a-hover-color--l: #ffe0cc;
$a-color: #23497c;
$header-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);

$block-container-border-color: #cbcdd0 #b5b9bd #c3c6c9 #c3c6c9;
$btn--link-border: #d0d3d5 #b5b9bd #b5b9bd #d0d3d5;
$btn--link-border--primary: #697da5 #526489 #526489 #697da5;
$btn--link-hover-color: #4564a0;

$forum-block-body-color: #15191d;
$filter-bar-bg-color: linear-gradient(0deg, #dce7f5, #e3e9f1);
$trigger-menu-color: #7384a6;
$trigger-menu-hover-bg: #5f6d8a;
$trigger-menu-hover-color: #a8b8d8;
$item-meta-color: #8f9193;

$node-stats-color: #343a40;

$footer-color: #dce7f5;
$footer-bg-color: #0a1524;

$avatar--m-width: 96px;
$avatar--s-width: 36px;
$avatar--l-width: 192px;

$avatar--m-fs: 58px;
$avatar--s-fs: 22px;
$avatar--l-fs: 115px;

$block-header-bg-color: #5c7099;

$form-row-bg-color: #e2e3e5;
$form-row-border-color: #cbcdd0;
$form-submit-row-bar-bg-color: rgba(220,231,245,0.9);

$page-nav-hover: #d0def2;

$i-color: #ffba8c;

$action-btn-bg-color: #ff944d;
$action-btn-border-color:  #ffa366 #ff8533 #ff8533 #ffa366;
$action-btn-hover-color: #ff7d26;

$msg-cell--user-bg-color: #e2e3e5;
$msg-cell-arrow-color: #c3c6c9;
$msg-color: #15191d;
$msg-bg-color: #ebeced;