@use 'constant';
.footer{
    font-size: 0.875rem;
    color: constant.$footer-color;
    background: constant.$footer-bg-color;
}
.footer-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 8px;
}