@use 'constant';
.message-inner{
    display: flex;
}
.message-cell{
    display: block;
    vertical-align: top;
    padding: 10px;
    width: 100%;
    &.message-cell--user{
        position: relative;
        background: constant.$msg-cell--user-bg-color;
        border-right: 1px solid constant.$msg-cell-arrow-color;
        min-width: 0;
        flex: 0 0 140px;
    }
    &.message-cell--main{ 
        img{
            max-width:100%;
            max-height:100%;
        }
    }
}
.message-main{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.message-avatar-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0.5em;
}
.message-name{
    font-weight: 700;
    font-size: inherit;
    text-align: center;
    margin: 0;
    overflow-wrap: break-word;
}

.message-avatar{
    text-align: center;
}
.message-userArrow{
    position: absolute;
    top: 20px;
    right: -1px;
    border: 10px solid transparent;
    border-left-width: 0;
    border-right-color: constant.$msg-cell-arrow-color;
    &::after {
        position: absolute;
        top: -9px;
        right: -10px;
        content: "";
        border: 9px solid transparent;
        border-left-width: 0;
        border-right-color: constant.$msg-bg-color;
    }
}
.message:not(:last-child){
    margin-bottom: 6px;
}
.message{
    color: constant.$msg-color;
    background-color: constant.$msg-bg-color;
}
.formButton{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: -5px;
}
.message-attribution {
    color: constant.$item-meta-color;
    font-size: 0.75rem;
    padding-bottom: 3px;
    border-bottom: 1px solid #d3d5d7;
}
.message-footer{
    margin-top: auto;
}
.message-actionBar{
    float: right;
    &.actionBar-set {
        font-size: 0.5rem;
    }
}
.actionBar-action {
    display: inline-block;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 5px;
}
.reply-form{
    margin-top: 8px;
}