<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/main/head') %>
</head>
<body>
    <% if( typeof(noti) =="undefined") noti = null %>
    <%- include('../partials/main/header', {user: user, all_noti: noti}) %>
    <main>
        <% if (user?.role == 0){ %>
            <div><a href="/f/new">new forum</a></div>
        <% } %>
        
        <%- include('../partials/content', {page: 'index', data: {}}) %>
    </main>
    <%- include('../partials/main/footer') %>
</body>
</html>
