<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/main/head') %>
  </head>
  <body>
    <%- include('../partials/main/header') %>
    <main>
      <%- include('../partials/content', {page: page, data: data}) %>
    </main>
    <%- include('../partials/main/footer') %>
  </body>
<script type="text/javascript" src='/js/change-avatar.js'></script>

  </html>

