<div class="box-block">
    <span id=<%=box.slug%>></span>
    <div class="block-container">
        <h2 class="box-block-header">
            <a href=<%="#"+box.slug%>>
                <%= box.title %>
            </a>
        </h2>
        <div class="block-body">
            <% forums?.forEach(forum=>{ %>
                <%- include('../item/node', {forum: forum}) %>
            <% }) %>
        </div>
    </div>
</div>