.item-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
}
.item-body-row{
    max-width: 600px;
    flex-grow: 1;
    word-wrap: break-word;
}
.item-meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    color:#8f9193;
}
.item{
    background-color: #ebeced;
}
.item+.item{
    border-top: 1px solid #d3d5d7;
    
}
.item-extra, .item-extra-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item-extra-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 300px;
    max-width: 300px;
}
.item-extra-date{
    color: #8f9193;
}
.item-extra-date>a:hover{
    color:#8f9193;
    text-decoration: none;
}
.item-extra-list li{
    padding-left: 4px;
}
#dot::before{
    content: " ";
}
.item-stats td{
    font-size: 0.9em;
}
.item-last-reply{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.item-last-reply-user a{
    font-size: 0.9em;
}