.form-submit-row-controll{
    position: relative;
    padding-left: 33%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
}
.form-row{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: #ebeced;
}
.form-row>dt{
    border-right: 1px solid transparent;
    background: #e2e3e5;
    border-color: #cbcdd0;
    text-align: right;
    width: 33%;
    padding: 15px 10px 15px 10px;
}
.form-row>dt, .form-row>dd{
    display: table-cell;
    vertical-align: top;
    margin: 0;
}
.form-row>dd{
    width: 67%;
    padding: 15px 10px 15px 10px;
}
.form-submit-row-bar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(220,231,245,0.9);
    border-top: 1px solid #b5b9bd;
}
.form-submit-row-main{
    position: relative;
}
.login-button{
    color: #fff;
    background: #5c7099;
    min-width: 80px;
    border-color: #697da5 #526489 #526489 #697da5;
}
.login-button:hover{
    background-color: #4564a0;
}
.login-button>span.login-icon{
    padding: 0 8px;
}
.login-button>span.login-icon::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2f6";
}
.block-outer-middle{
    text-align: center;
}
.block-outer{
    padding: 8px 0;
}