*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #343a40;
    font-family: 'WorkSans', monospace;
    color: #ebeced;
    display: flex;
    flex-direction: column;
}
header{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}

.meta-data:hover{
    color: #f60;
    text-decoration: underline;
}
.meta-data{
    color: #23497c;
}
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.input{
    font-size: 1rem;
    color: #15191d;
    background: #e5eaf0;
    border: 1px solid #c3c6c9;
    border-top-color: var(--input-border-heavy);
    border-right-color: var(--input-border-light);
    border-bottom-color: var(--input-border-light);
    border-left-color: var(--input-border-heavy);
    border-radius: 4px;
    padding: 6px;
    display: block;
    width: 100%;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
main{
    min-height: 80vh;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}
a{
    color: #23497c;
    text-decoration: none;
}
a:hover{
    color: #f60;
    text-decoration: underline;
}
.sticky{
    position: fixed;
    width: 100%;
    z-index: 99;
}
